*
body	{
	font-family: 'Roboto';
	font-size: 1.0rem;
	overflow-x: hidden;
	line-height: 1.5rem;
}


/*-- Top --*/
#top 	{
	height: 115vh;
}

#cont	{
	background-color: #282923!important;
	background-image: url('https://kaybee19.github.io/hk-website/sup-img/images/naija_map.png');
	background-size: 35%;
	background-position: 90% 50%;
	background-repeat: no-repeat;
	height: 90vh;
	padding-bottom: 5rem;
}


/*-- Nav --*/
.navbar a	{
	color: white!important;
	font-weight: bold;
}

.navbar li:hover	{
	border-bottom: 2px solid white;
}

.active	{
	border-bottom: 2px solid white;
}


/*-- Main --*/

#main .display-4	{
	font-size: 1.5rem;
	padding-bottom: 1.5rem;
}

#main h6	{
	font-size: 1.25rem;
}

#main .lead	{
	font-size: .85rem;
}

#main img 	{
	padding: 5rem 0rem 1rem;
	background-position: top;
	background-size: cover;
	filter: grayscale(100%);
	position: relative;
}

#main img:hover 	{
	filter: grayscale(0%);
}


/*-- Team --*/

#team {
	padding: 5rem 1.5rem 2.5rem;
}

#team .img1 	{
	background-image: url("https://kaybee19.github.io/hk-website/sup-img/images/hassan.jpg");
	background-size: cover;
	background-position: 90% 20%; 
	height: 17.5rem;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	position: relative;
	margin-bottom: 5rem;
}

#team .img1:hover 	{
	filter: grayscale(0%);
}

#team .img2 	{
	background-image: url("https://kaybee19.github.io/hk-website/sup-img/images/osita.jpg");
	background-size: 100%;
	height: 17.5rem;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	position: relative;
	margin-bottom: 3rem;
}

#team .img2:hover 	{
	filter: grayscale(0%);
}

#team .display-4 	{
	padding-bottom: 5rem;
}

#team .display-3 	{
	font-size: 1.5rem;
}

#team .lead 	{
	font-size: 1rem;
}

/*-- Services --*/

#services 	{
	padding: 5rem 2rem 5rem;
}

#services .carousel 	{
	padding-top: 5rem;
}

#services img	{
	filter: grayscale(100%);
	height: 40vh;
	width: 500px;
}

#services hr 	{
	border-top: .1rem solid black;
	padding-top: 0rem;
	margin-top: 0rem;
	width: 25rem;
	visibility: hidden;
}

#services .display-3 	{
	font-size: 1.5rem;
}

#services .lead	{
	font-size: .925rem;
}

#services .p	{
	font-size: 1rem;
}

#services .fa {
	color: gray!important;
}

#services .fa:hover {
	color: black!important;
}

#know	{
	margin-top: 5rem;
}

#know	.lead	{
	font-size: 1.15rem;
}

#know a 	{
	color: black;
	text-decoration: underline;
}

#know a:hover 	{
	color: gray;
}

/*-- Footer --*/

#footer 	{
	padding: 5rem 2rem 1rem;
}

.bg-dark	{
	background-color: #282923!important;
}

#footer .lead	{
	font-size: 1rem;
}

.fa	{
	color: white;
	margin-right: .75rem;
}

#footer a 	{
	color: white!important;
}

#footer h6 	{
	display: none;
}


#footer .small 	{
	font-size: .6rem;
	line-height: 1rem;
}




/*-- Media Queries --*/


/*-- Old devices (landscape phones, 380px and up) --*/
@media (min-width: 380px) {

}


/*-- Horizontal device screens (landscape phones, 560px and up) --*/

@media (min-width: 560px) {

#main .display-4	{
	font-size: 1.5rem;
	padding-bottom: .5rem;
}

#main h6	{
	font-size: 1.25rem;
}

#main .lead	{
	font-size: .75rem;
}

#main img 	{
	padding: 2rem 0rem 1rem;
}

#team {
	padding: 2.5rem 1.5rem 2.5rem;
	margin: 15rem 0rem 0rem;
}

#footer 	{
	padding: 5rem 5rem 1rem;
}
}


/*-- Medium devices (tablets, 768px and up) --*/

@media (min-width: 766px) {

}


/*-- Fix for phones (phones, 812px and up) --*/

@media (min-width: 812px) {

#team {
	padding: 2.5rem 1.5rem 2.5rem;
	margin: 20rem 0rem 0rem;
}

#team .img1, #team .img2 	{
	height: 22.5rem;
}
}


/*-- Large devices (desktops, 992px and up) --*/

@media (min-width: 992px) {

#top 	{
	height: 125vh;
}

#cont	{
}
	
#team {
	padding: 5rem 10rem 5rem;
	margin-top: 7.5rem;
}

#footer 	{
	padding: 5rem 7.5rem 1rem;
}

#footer h6 	{
	display: block;
}

#footer .small 	{
	font-size: .8rem;
}

#services 	{
	padding: 7.5rem 5rem 10rem;
}

#team .img1, #team .img2 	{
	height: 22.5rem;
}

#team .pding 	{
	margin-bottom: 5rem;
}

#services hr 	{
 visibility: visible;
}
}


/*-- Extra large devices (large desktops, 1200px and up) --*/

@media (min-width: 1200px) {

#top 	{
	height: 140vh;
}
	
#main .display-4	{
	font-size: 1.75rem;
	padding-bottom: 1.5rem;
}

#main h6	{
	font-size: 1.25rem;
	padding-bottom: .25rem;
}

#main .lead	{
	font-size: 1rem;
}

#team .img1, #team .img2 	{
	height: 30rem;
}

#footer 	{
	padding: 5rem 20rem 1rem;
}
}


/*-- Fix for large tab screens --*/

@media (min-width: 1366px) {

}


@media (min-width: 1367px) {

}
