*
body	{
	font-family: 'Roboto';
	font-size: 1.0rem;
	overflow-x: hidden;
	line-height: 1.5rem;
}


/*-- Top --*/
#top	{
	background-image: url('C:/Users/KayBee/Documents/IMP/Real Estate Web Project/stuff/images/tower22.png');
	background-size: cover;
	background-position: top;
	height: 90vh;
	margin-bottom: 10rem;
}


/*-- Nav --*/
.navbar a	{
	color: white!important;
	font-weight: bold;
}

.navbar li:hover	{
	border-bottom: 2px solid white;
}

.active	{
	border-bottom: 2px solid white;
}


/*-- Main --*/
#main 	{
	color: white!important;
}

#main h1	{
	font-size: 2.25rem;
}

#main .display-4	{
	font-size: 2.25rem;
}


#main a 	{
	color: black!important;
}


/*-- Hero --*/
#hero 	{
	padding-top: 2.5rem;
	padding-bottom: 12.5rem;
	font-size: .9rem;
}

#hero .container	{
	height: 80vh;
}

#hero a 	{
	color: black!important;
	text-decoration: underline;
}

.overflow-img	{
	height: 77.5vh;
	max-width: 55rem;
}

.bg-mine	{
	background-color: #f5f5f5!important;
	padding-top: 7.5rem;
	padding-left: 10rem;
	padding-bottom: 7.5rem;
}


/*-- Business --*/
#business 	{
	position: relative;
	padding: 5rem 25rem 10rem;
	font-size: .9rem;
}

#business img 	{
	margin-top: 10rem;
	margin-bottom: 2rem;
}

#business a 	{
	color: black!important;
	text-decoration: underline;
}

#business li	{
	font-size: 1.1rem;
}

#business .display-4	{
	font-size: 1.95rem;
	padding-bottom: 2.5rem;
}

#business hr 	{
	border-top: .115rem solid rgba(0, 0, 0, .25);
	margin-top: 2rem;
	padding-bottom: 1rem;
}


/*-- Cards --*/
#cards 	{
	background-image: url('C:/Users/KayBee/Documents/IMP/Real Estate Web Project/stuff/images/know_us2_alt.png');
	background-size: cover;
	background-position: bottom;
	height: 45vh;
	margin-bottom: 20rem;
}

#cards .bg-white	{
	background-color: rgba(0, 0, 0, 0)!important;
	border-color: red!important;
}

#cards h1	{
 	text-shadow: 1.3px 1.3px rgba(0,0,0,.3);
}

#cards .row	{
	width: 75rem; 
}

#cards .bg-dark1	{
	background-image: url('C:/Users/KayBee/Documents/IMP/Real Estate Web Project/stuff/images/about_us_alt.png');
	background-position: left;
	background-size: 150% auto;
	height: 25vh;
}

#cards .bg-dark2	{
	background-image: url('C:/Users/KayBee/Documents/IMP/Real Estate Web Project/stuff/images/services2.png');
	background-position: top;
	background-size: 130% auto;
	height: 25vh;
}

#cards .bg-dark3	{
	background-image: url('C:/Users/KayBee/Documents/IMP/Real Estate Web Project/stuff/images/location1.png');
	background-position: center;
	background-size: 100% auto;
	height: 25vh;
}

#cards img 	{
	padding-bottom: .15rem;
	}

#cards .know	{
	padding-top: 15rem;
}

#cards .card 	{
	margin-top: 5rem;
	background-color: rgba(0,0,0,0)!important;
}

#cards .card_pos	{
	padding-top: 5rem;
}


/*-- Selected --*/

#selected 	{
	padding-top: 10rem;
	padding-bottom: 10rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

#selected img 	{
	position: relative;
	z-index: 1000;
	filter: grayscale(100%);
}

#selected img:hover 	{
	filter: grayscale(0%);
}


.bg-mine2	{
	background-color: #636363!important;
	height: 80vh;
	padding-left: 5rem;
	padding-right: 3rem;
}

#selected .display-4	{
	font-size: 1.5rem;
}

#selected h5	{
	text-transform: uppercase;
}

#selected hr 	{
	margin-bottom: 1rem;
	margin-top: 0rem;
	border-top: .1rem solid rgba(255, 255, 255, 1);
}

#selected .lead	{
	font-size: 1rem;
	line-height: .75rem;
}


/*-- Footer --*/

#footer 	{
	padding: 5rem 20rem 1rem;
}

.bg-dark	{
	background-color: #282923!important;
}

#footer .lead	{
	font-size: 1rem;
}

.fab	{
	color: white;
	margin-right: .75rem;
}

#footer a 	{
	color: white!important;
}


/*-- Animation --*/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 2000ms ease-out;
  -webkit-transition: all 2000ms ease-out;
  -o-transition: all 2000ms ease-out;
  transition: all 2000ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element {
  position: relative;
  width: 30%;
  margin: 0% 1.33 2.66% 1.33%;
  float: left;
}